body {
background:black url('background/atmosphere/a2.jpg') no-repeat fixed absolute; 
left: 0;
top: 0;
font-size:12pt;
font-face: Monotype Corsiva;
color: #ffff00;
SCROLLBAR-FACE-COLOR: #006cfc;
SCROLLBAR-ARROW-COLOR: #d8fc24;
SCROLLBAR-BASE-COLOR: #246cfc
}



A:visited	{color: #ffff00;	text-decoration: none}
A:link		{color: #ffff00;	text-decoration: none}
A:hover		{color: #00FFFF;	text-decoration: none}
A:active	{color: #ffff00;	text-decoration: none}