
td.lowLight, td.highLight {
	cursor: pointer;
	padding-top: 1px;
	width: 100px;
	height: 15px;
	text-align: center;
}
td.lowLight {
	background: url(neo/btn_ssc_neo.gif) 0px 0px;
}
td.highLight{
	background: url(neo/btn_ssc_neo.gif) -100px 0px;
}

table.base {
  border: 0;
  cellpadding: 0;
  cellspacing: 0;
  border-collapse: collapse;
  width: 200px;
}

table.long {
  width: 300px;
}

.full-width {
  width: 100%;
}

.center-align {
  align: center;
}

.empty-row {
  height: 10px;
}

// TODO: fix url for different type of background. See ReturnMBg in sc-fi.inc.php
@media only screen and (max-width: 800px) {
  body {
    background-image: url("/images/background/colony/800.jpg");
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-image: url("/images/background/colony/1024.jpg");
  }
}
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("/images/background/colony/1280.jpg");
  }
}

@media only screen and (min-width: 1280px) {
  body {
    background-image: url("/images/background/colony/1440.jpg");
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url("/images/background/colony/1680.jpg");
  }
}
