
td.lowLight, td.highLight {
	cursor: pointer;
	padding-top: 1px;
	width: 100px;
	height: 15px;
	text-align: center;
}
td.lowLight {
	background: url(neo/btn_ssc_neo.gif) 0px 0px;
}
td.highLight{
	background: url(neo/btn_ssc_neo.gif) -100px 0px;
}

table.base {
  border: 0;
  cellpadding: 0;
  cellspacing: 0;
  border-collapse: collapse;
  width: 200px;
}

table.long {
  width: 300px;
}

.full-width {
  width: 100%;
}

.center-align {
  align: center;
}
